/* common code start */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
/* common code end */
/* nav section start */
#container{
    width: 100%;
    height: 100vh;
   background-image: url(images\ \(1\).jpg);
   background-size: cover;
   background-position: center center;
}
.nav-unorder{
    display: flex;
    justify-content: space-around;
    padding: 10px;
}
.nav-link{
    color: #ffff;
    font-size: 1.5rem;
    text-transform: uppercase;
}
.nav-link:hover{
    text-decoration: overline;
    color: black;
}
.nav-description h1{
    text-align: center;
    margin-top: 200px;
    color: white;
    font-size: 2rem;
    font-family: 'Italianno', cursive;
}
/* nav section end */